<ion-header class="header-main {{class}}" >
  <ion-navbar [color]="color" >
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>{{ title }}</ion-title>

    <ion-buttons end slot="end">
      <button ion-button icon-only (click)="enableSearchBar()" *ngIf="hasSearch">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only (click)="onValidate.emit($event)" class="visible-xs visible-sm" *ngIf="hasValidate">
          <ion-icon name="checkmark"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
