
<app-toolbar  [title]="'TRIPS.TITLE'|translate" color="primary"></app-toolbar>

<ion-content class="no-padding-xs">

  <mat-toolbar class="pull-right">

    <button mat-icon-button
            *ngIf="!selection.hasValue()"
            [title]="'COMMON.BTN_ADD'|translate"
            (click)="addRow()" >
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button small color="light"
            *ngIf="!selection.hasValue()"
            [title]="'COMMON.BTN_REFRESH'|translate"
            (click)="onRefresh.emit()">
      <mat-icon>refresh</mat-icon>
    </button>
    <button mat-icon-button
            *ngIf="!selection.hasValue()"
            [title]="'COMMON.BTN_FILTER'|translate"
            (click)="filterExpansionPanel.toggle()" >
      <mat-icon>search</mat-icon>
    </button>
    <button mat-icon-button small color="light"
            *ngIf="selection.hasValue()"
            [title]="'COMMON.BTN_DELETE'|translate"
            (click)="deleteSelection()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-toolbar>

  <!-- search -->
  <mat-expansion-panel #filterExpansionPanel color="primary">
    <h4 padding-top translate>TRIPS.FILTER.TITLE</h4>

    <!-- start date -->
    <mat-form-field>
      <input matInput
             [placeholder]="'TRIPS.FILTER.START_DATE'|translate"
             [matDatepicker]="filterStartDatepicker"
             [ngModel]="filter.startDate">
      <mat-datepicker-toggle matSuffix [for]="filterStartDatepicker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #filterStartDatepicker></mat-datepicker>
    </mat-form-field>

    <!-- end date -->
    <mat-form-field>
        <input matInput
                [placeholder]="'TRIPS.FILTER.END_DATE'|translate"
                [matDatepicker]="filterEndDatepicker"
                [ngModel]="filter.endDate">
        <mat-datepicker-toggle matSuffix [for]="filterEndDatepicker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #filterEndDatepicker></mat-datepicker>
      </mat-form-field>

    <mat-action-row>
      <button mat-button (click)="filterExpansionPanel.close()">{{'COMMON.BTN_CANCEL'|translate}}</button>
      <button mat-raised-button color="primary" (click)="onRefresh.emit(true)">{{'COMMON.BTN_SEARCH'|translate}}</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-table #table padding-left
             [dataSource]="dataSource" class="trips-table "
             matSort matSortActive="departureDateTime" matSortDirection="asc" matSortDisableClear
             [trackBy]="id">

    <ng-container matColumnDef="select">
      <mat-header-cell class="hidden-xs hidden-sm" *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell class="hidden-xs hidden-sm" *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell class="hidden-xs hidden-sm" *matHeaderCellDef mat-sort-header>
        <span *ngIf="!loading">#</span>
        <ion-spinner [ngClass]="{'center':true}" *ngIf="loading"></ion-spinner>
      </mat-header-cell>
      <mat-cell  class="hidden-xs hidden-sm" *matCellDef="let row">{{ row.currentData.id }}</mat-cell>
    </ng-container>

    <!-- departure date time  -->
    <ng-container matColumnDef="departureDateTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <span translate>TRIP.DEPARTURE_DATE_TIME</span>
      </mat-header-cell>
      <mat-cell class="mat-cell-date-time" *matCellDef="let row" >
        <mat-form-field floatPlaceholder="never">
          <input matInput
                 [matDatepicker]="departureDatepicker"
                 [formControl]="row.validator.controls['departureDateTime']"
                 [readonly]="!row.editing"
                 [appAutofocus]="row.editing"
                 [ngModel]="row.currentData.departureDateTime">
          <mat-datepicker-toggle matSuffix [for]="departureDatepicker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #departureDatepicker></mat-datepicker>
          <mat-error *ngIf="row.validator.controls['departureDateTime'].hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
        </mat-form-field>

      </mat-cell>

    </ng-container>

    <!-- departure location -->
    <ng-container matColumnDef="departureLocation">
      <mat-header-cell *matHeaderCellDef>
        <span translate>TRIP.DEPARTURE_LOCATION</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [class.mat-form-field-disabled]="!row.editing">
        <mat-form-field floatPlaceholder="never"  >
          <input matInput
                 [formControl]="row.validator.controls['departureLocation']"
                 [matAutocomplete]="autoDepartureLocation"
                 [readonly]="!row.editing"
                 [ngModel]="row.currentData.departureLocation">
          <mat-error *ngIf="row.validator.controls['departureLocation'].hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>

        </mat-form-field>

        <mat-autocomplete #autoDepartureLocation="matAutocomplete" [displayWith]="displayReferentialFn">
          <mat-option *ngFor="let location of locations" [value]="location">
              {{ location.label }} - {{ location.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-cell>
    </ng-container>

    <!-- return date time -->
    <ng-container matColumnDef="returnDateTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <span translate>TRIP.RETURN_DATE_TIME</span>
      </mat-header-cell>
      <mat-cell class="mat-cell-date-time" *matCellDef="let row" >
        <mat-form-field floatPlaceholder="never">
          <input matInput [matDatepicker]="returnDatepicker"
                 [formControl]="row.validator.controls['returnDateTime']"
                 [readonly]="!row.editing"
                 [ngModel]="row.currentData.returnDateTime">
          <mat-datepicker-toggle matSuffix [for]="returnDatepicker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #returnDatepicker></mat-datepicker>
          <mat-error *ngIf="row.validator.controls['returnDateTime'].hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <!-- Edit buttons -->
    <ng-container matColumnDef="comments">
      <mat-header-cell *matHeaderCellDef>
        <span translate>TRIP.COMMENTS</span>
        <span>

        </span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" >
        <mat-form-field floatPlaceholder="never">
          <input matInput
                 [formControl]="row.validator.controls['comments']"
                 [readonly]="!row.editing"
                 [(ngModel)]="row.currentData.comments">
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
             (click)="onRowClicked(row)"
             (onblur)="confirmAndAddRow(row)"></mat-row>
  </mat-table>



  <!-- Bottom buttons -->

  <div class="mat-ro row" >

    <div class="col" *ngIf="!loading">
      <!--<button mat-button icon-left small color="primary" (click)="addRow()" >
        <ion-icon name="md-add"></ion-icon>
        <span translate>COMMON.BTN_ADD</span>
      </button>-->
      <button mat-raised-button *ngIf="dirty" (click)="onRefresh.emit()" >
        <ion-icon name="md-close"></ion-icon>
        <span translate>COMMON.BTN_CANCEL</span>
      </button>
      <button mat-raised-button color="primary" *ngIf="dirty" (click)="save()" >
        <ion-icon name="md-checkmark"></ion-icon>
        <span translate>COMMON.BTN_SAVE</span>
      </button>
    </div>

    <div class="col">
      <mat-paginator [length]="resultsLength"
                     [pageSize]="10"
                     [pageSizeOptions]="[10, 50, 100, 200]">
      </mat-paginator>
    </div>
  </div>

  <!--<ion-list *ngIf="loading">
    <ion-item *ngFor="let row of dataSource.currentData">
      &lt;!&ndash;<ion-skeleton-text width="40px"></ion-skeleton-text>&ndash;&gt;
      <h1>Fake</h1>
    </ion-item>
  </ion-list>-->

  <!--<ion-fab right bottom class="visible-xs visible-sm">
    <button ion-fab color="light"><ion-icon name="arrow-dropleft"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab color="accent" (click)="openTripDialog()"><ion-icon name="md-add"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>-->

  <ion-fab right bottom>
    <button ion-fab color="light" (click)="openTripModal()"><ion-icon name="md-add"></ion-icon></button>
  </ion-fab>
</ion-content>
