form-register {
    
    form mat-form-field {
        width: 100%;
    }

    form ion-toolbar {
        .toolbar-content {
            text-align: right;
        }

        .toolbar-background {
            border: 0;
            background: inherit !important;
        }
    }
}
