<ion-split-pane>
  <ion-menu side="left" [content]="content">
    <ion-header>
      <ion-toolbar class="user-profile" color="">
        <ion-grid >
          <ion-row>
            <ion-col col-4 [hidden]="!account" class="fade in">
              <div class="user-avatar" 
                *ngIf="account"
                [class.primary]="!account?.avatar"
                [ngStyle]="{'background-image':'url('+(account?.avatar||'./assets/img/person.png')+')'}">
              </div>
            </ion-col>
            <ion-col col [class.align-right]="isLogin">
              <img src="./assets/img/logo-menu.png" [title]="'APP_NAME'|translate"/>
            </ion-col>
          </ion-row>
          <ion-row [hidden]="!isLogin" no-padding>
            <h4 ion-text full class="no-margin  bold text-white username">
              {{account?.firstName}} {{account?.lastName}}
            </h4>
            <span ion-text color="light">{{account?.email}}</span>
          </ion-row>

          <ion-row no-padding class="other-data" [hidden]="!isLogin"  class="fade in">
            <ion-col no-padding>
              <button ion-button icon-left small full color="light" menuClose [routerLink]="['/account']">
                <ion-icon name="contact"></ion-icon>
                <span translate>MENU.BTN_ACCOUNT</span>
              </button>
            </ion-col>
            <ion-col no-padding padding-left>
              <button ion-button icon-left small full color="light" menuClose (click)="logout()">
                <ion-icon name="log-out"></ion-icon>
                <span translate>MENU.BTN_LOGOUT</span>
              </button>
            </ion-col>
          </ion-row>

        </ion-grid>

      </ion-toolbar>
    </ion-header>

    <ion-content color="dark" [class.has-profile-header]="isLogin" [class.no-profile-header]="!isLogin">

      <ion-list class="user-list">
        <ng-container  *ngFor="let menuItem of appMenuItems">
          <button ion-item menuClose class="text-1x" routerLink="{{menuItem.path}}" *ngIf="menuItem.path">
            <ion-icon item-left [name]="menuItem.icon" color="primary"></ion-icon>
            <span ion-text color="primary">{{menuItem.title|translate}}</span>
          </button>
          <ion-item-divider color="stable" style="background-color: whitesmoke;" *ngIf="!menuItem.path"> 
              {{menuItem.title|translate}}
          </ion-item-divider>
        </ng-container>
      </ion-list>
    </ion-content>


    <ion-footer>
      <ion-toolbar style="text-align: center">
        <span>
          {{'MENU.FOOTER_VERSION_ABOUT'| translate: {version: appVersion} }}
        </span>
      </ion-toolbar>
    </ion-footer>

  </ion-menu>

  <router-outlet  #content main swipeBackEnabled="true"></router-outlet>

</ion-split-pane>
