<ion-split-pane>
  <ion-menu side="left" [content]="content">
    <ion-header>
      <ion-toolbar class="user-profile" color="">
        <ion-title>
          <img id="logo" src="./assets/img/logo-menu.png" [title]="'APP_NAME'|translate"/>

        </ion-title>

        <ion-grid [hidden]="!isLogin" *ngIf="isLogin" class="fade in">
          <ion-row>
            <ion-col col-4>
              <div class="user-avatar">
                <img src="{{user?.avatar}}">
              </div>
            </ion-col>
            <ion-col padding-top col-8>
              <h2 ion-text class="no-margin bold text-white">
                {{user?.name}}
              </h2>
              <span ion-text color="light" *ngIf="user?.mainProfile">{{( 'PROFILE.PROFILE_'+user.mainProfile.toUpperCase()) | translate }}</span>
            </ion-col>
          </ion-row>

          <ion-row no-padding class="other-data">
            <ion-col no-padding class="column">
              <button ion-button icon-left small full color="light" menuClose disabled>
                <ion-icon name="contact"></ion-icon>
                <span translate>PROFILE.BTN_EDIT</span>
              </button>
            </ion-col>
            <ion-col no-padding class="column">
              <button ion-button icon-left small full color="light" menuClose (click)="logout()">
                <ion-icon name="log-out"></ion-icon>
                <span translate>PROFILE.BTN_LOG_OUT</span>
              </button>
            </ion-col>
          </ion-row>

        </ion-grid>

      </ion-toolbar>
    </ion-header>

    <ion-content color="dark" [class.has-profile-header]="isLogin">

      <ion-list class="user-list">
        <button ion-item menuClose class="text-1x" *ngFor="let menuItem of appMenuItems" routerLink="{{menuItem.path}}">
          <ion-icon item-left [name]="menuItem.icon" color="primary"></ion-icon>
          <span ion-text color="primary">{{menuItem.title|translate}}</span>
        </button>
      </ion-list>
    </ion-content>

  </ion-menu>

  <router-outlet #content main swipeBackEnabled="false"></router-outlet>

</ion-split-pane>
