<ion-split-pane>
  <ion-menu side="left" [content]="content">
    <ion-header>
      <ion-toolbar class="user-profile" color="">
        <ion-grid >
          <ion-row>
            <ion-col col-4 [hidden]="!isLogin || !account?.avatar"  class="fade in">
              <div class="user-avatar" [ngStyle]="{'background-image':'url('+(account?.avatar||'./assets/img/person.png')+')'}">
                
              </div>
            </ion-col>
            <ion-col col [class.align-right]="isLogin">
              <img src="./assets/img/logo-menu.png" [title]="'APP_NAME'|translate"/>
            </ion-col>
          </ion-row>
          <ion-row [hidden]="!isLogin" no-padding>
            <h2 ion-text class="no-margin  bold text-white username">
              {{account?.firstName}} {{account?.lastName}}
            </h2>
            <span ion-text color="light" >{{account?.email}}</span>
          </ion-row>

          <ion-row no-padding class="other-data" [hidden]="!isLogin"  class="fade in">
            <ion-col no-padding class="column">
              <button ion-button icon-left small full color="light" menuClose disabled>
                <ion-icon name="contact"></ion-icon>
                <span translate>MENU.BTN_ACCOUNT</span>
              </button>
            </ion-col>
            <ion-col no-padding class="column">
              <button ion-button icon-left small full color="light" menuClose (click)="logout()">
                <ion-icon name="log-out"></ion-icon>
                <span translate>MENU.BTN_LOGOUT</span>
              </button>
            </ion-col>
          </ion-row>

        </ion-grid>

      </ion-toolbar>
    </ion-header>

    <ion-content color="dark" [class.has-profile-header]="isLogin" [class.no-profile-header]="!isLogin">

      <ion-list class="user-list">
        <button ion-item menuClose class="text-1x" *ngFor="let menuItem of appMenuItems" routerLink="{{menuItem.path}}">
          <ion-icon item-left [name]="menuItem.icon" color="primary"></ion-icon>
          <span ion-text color="primary">{{menuItem.title|translate}}</span>
        </button>
      </ion-list>
    </ion-content>


    <ion-footer>
      <ion-toolbar style="text-align: center">
        <span>
          {{'MENU.FOOTER_VERSION_ABOUT'| translate: {version: appVersion} }}
        </span>
      </ion-toolbar>
    </ion-footer>

  </ion-menu>

  <router-outlet #content main swipeBackEnabled="false"></router-outlet>

</ion-split-pane>
