page-registrer-confirm {

  .light-bg {
    background-color: rgba(255,255,255,.7);
  }

  .center {
    text-align: center;
  }

  .padding.center {
    display: inline-block;
    padding: 15px;
  }

  .main-content {
    @extend .center;
    @extend .padding;
    @extend .light-bg;

    min-width: 240px;
  }

}
